<p>Register</p>
<form [formGroup]="registerForm" (ngSubmit)="save()">
  <table>
    <tr>
      <td>Username:</td>
      <td>
        <input type="text" formControlName="username" />
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="password" formControlName="password" />
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <textarea formControlName="description" rows="5" cols="20"></textarea>
      </td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <div formGroupName="address">
          Street <input type="text" formControlName="street" />
          <br />
          Ward <input type="text" formControlName="ward" />
          <br/>
          District <input type="text" formControlName="district" />
        </div>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <input type="checkbox" formControlName="status" />
      </td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <input type="radio" formControlName="gender" value="m"/>male
        <input type="radio" formControlName="gender" value="f"/>Female
      </td>
    </tr>
    <tr>
      <td>Role:</td>
      <td>
        <select formControlName="role">
          <option value="r1">Role 1</option>
          <option value="r2">Role 2</option>
          <option value="r3">Role 3</option>
          <option value="r4">Role 4</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="Save" />
      </td>
    </tr>
  </table>
</form>
